@import "/css/reset.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("/assets/webp/example1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  height: 100%;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.time-text {
  font-size: 48px;
  color: white;
}

.time-clock {
  font-size: 60px;
  color: white;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.todo-list {
  font-size: 30px;
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}
